
<!DOCTYPE html>
<html>
<head>
    <title>Delete Article</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Delete Article</h1>
        <hr>
        <p>Are you sure you want to delete the article "{{ article.title }}"?</p>
        <form method="post" action="{% url 'delete_article' article.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</body>
</html>