


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
</body>
</html>

<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for cform in cforms %}
        <tr>
          <td>{{ cform.id }}</td>
          <td><a href="{% url 'idt' cform.id %}">{{ cform.insured_name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>